{% extends "homepage/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
<!DOCTYPE html>
<html>


{% block assets %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" href={% static 'bootstrap/css/bootstrap.min.css' %}>
    <link rel="stylesheet" href={% static 'users/fonts/ionicons.min.css' %}>
    <link rel="stylesheet" href={% static 'users/css/login-page.css' %}>
{% endblock assets %}


{% block content %}
    <div class="login-clean">
        <form method="POST">
          {% csrf_token %}
            <h2 class="sr-only">ورود</h2>
            {<div class="illustration"><i class="icon ion-ios-navigate"></i></div>
            {{ form|crispy }}
            <div class="form-group"><button class="btn btn-primary btn-block" type="submit">ورود</button></div>}
            <a class="forgot" href="{% url 'register' %}">حساب کاربری ندارید؟</a></form>
            <a class="forgot" href="#">رمز عبور خود را فراموش کردید؟</a></form>
    </div>
    <script src={% static 'bootstrap/js/bootstrap.min.js' %}></script>
{% endblock content %}

</html>
