{% extends "homepage/base.html" %}
{% load crispy_forms_tags %}
{% load static %}


{% block assets %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" href={% static 'bootstrap/css/bootstrap.min.css' %}>
    <link rel="stylesheet" href={% static 'users/fonts/ionicons.min.css' %}>
    <link rel="stylesheet" href={% static 'users/css/login-page.css' %}>
{% endblock assets %}


{% block content %}
  <h1>{{ user.username }}</h1>
{% endblock content %}
